[submodule "ext/PF_Test"]
	path = ext/PF_Test
	url = https://github.com/planar-foundry/PF_Test.git
[submodule "ext/PF_Endian"]
	path = ext/PF_Endian
	url = https://github.com/planar-foundry/PF_Endian.git
[submodule "ext/PF_Debug"]
	path = ext/PF_Debug
	url = https://github.com/planar-foundry/PF_Debug.git
